<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertarPreguntaServlet</servlet-name>
        <servlet-class>BaseDeDatos.InsertarPreguntaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearConexionBaseDeDatos</servlet-name>
        <servlet-class>BaseDeDatos.CrearConexionBaseDeDatos</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarPreguntaServlet</servlet-name>
        <url-pattern>/InsertarPreguntaServlet</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>
        <servlet-name>CrearConexionBaseDeDatos</servlet-name>
        <url-pattern>/CrearConexionBaseDeDatos</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
