<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertarPreguntaServlet</servlet-name>
        <servlet-class>BaseDeDatos.InsertarPreguntaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearConexionBaseDeDatos</servlet-name>
        <servlet-class>BaseDeDatos.CrearConexionBaseDeDatos</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MostrarPreguntaServlet</servlet-name>
        <servlet-class>ServletsDeJuego.MostrarPreguntaServlet</servlet-class>
        <init-param>
            <param-name>colorDeportes</param-name>
            <param-value>#e67e22</param-value>
        </init-param>
        <init-param>
            <param-name>colorHistoria</param-name>
            <param-value>#f1c40f</param-value>
        </init-param>
        <init-param>
            <param-name>colorArte</param-name>
            <param-value>#ba7043</param-value>
        </init-param>
        <init-param>
            <param-name>colorGeografia</param-name>
            <param-value>#5ab6c9</param-value>
        </init-param>
        <init-param>
            <param-name>colorCiencias</param-name>
            <param-value>#22ad4c</param-value>
        </init-param>
        <init-param>
            <param-name>colorEspectaculos</param-name>
            <param-value>#e58b8b</param-value>
        </init-param>
        <init-param>
            <param-name>colorLiteratura</param-name>
            <param-value>#cc6728</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ComprobarRespuesta</servlet-name>
        <servlet-class>ServletsDeJuego.ComprobarRespuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoUsuarioServlet</servlet-name>
        <servlet-class>BaseDeDatos.NuevoUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ServletsDeJuego.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearSala</servlet-name>
        <servlet-class>ServletsDeJuego.CrearSala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>ServletsDeJuego.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarPartidaServlet</servlet-name>
        <servlet-class>ServletsDeJuego.FinalizarPartidaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBotonInicio</servlet-name>
        <servlet-class>ServletsDeJuego.ServletBotonInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefrescarSala</servlet-name>
        <servlet-class>ServletsDeJuego.RefrescarSala</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarPreguntaServlet</servlet-name>
        <url-pattern>/InsertarPreguntaServlet</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>
        <servlet-name>CrearConexionBaseDeDatos</servlet-name>
        <url-pattern>/CrearConexionBaseDeDatos</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>MostrarPreguntaServlet</servlet-name>
        <url-pattern>/MostrarPreguntaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprobarRespuesta</servlet-name>
        <url-pattern>/ComprobarRespuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoUsuarioServlet</servlet-name>
        <url-pattern>/NuevoUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearSala</servlet-name>
        <url-pattern>/CrearSala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarPartidaServlet</servlet-name>
        <url-pattern>/FinalizarPartidaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBotonInicio</servlet-name>
        <url-pattern>/ServletBotonInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefrescarSala</servlet-name>
        <url-pattern>/RefrescarSala</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>trivialJDBC</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <filter>
        <filter-name>FiltroLogin</filter-name>
        <filter-class>Filtros.FiltroLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroLogin</filter-name>
        <url-pattern>/MostrarPreguntaServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroLogin</filter-name>
        <url-pattern>/dashboard.jsp</url-pattern>
    </filter-mapping>
</web-app>
